<!DOCTYPE html>
<html>
<body>
<centre><h3>Welcome to Boomerang Hotel!!!</h3></centre>
<nav class="navbar navbar-dark bg-primary">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/home" style="color:white">Book Room</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/" style="color:white">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/registration" style="color:white">Signup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about" style="color:white">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/feedback" style="color:white">Feedback</a>
  </li>
</ul>
</nav>
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">

<form action="mailto:someone@example.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name" placeholder="username"><br>
E-mail:<br>
<input type="text" name="mail" placeholder="usernme@gmail.com"><br>
Comment:<br>
<input type="text" name="comment" size="50" placeholder="Message"><br><br>
<input type="submit" value="Send" onclick="myFunction()">
<script>
function myFunction() {
  alert("Feedback is sent");
}
</script>

<input type="reset" value="Reset">
</form>
</div>
    <div class="col-4">
    </div>
    </div>
    </body>
</html>
