<centre><h3>Welcome to Boomerang Hotel!!!</h3></centre>

<input type="hidden" name="_id" value="{{room._id}}">
<nav class="navbar navbar-dark bg-primary">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/home" style="color:white">Book Room</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/" style="color:white">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/registration" style="color:white">Signup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about" style="color:white">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/feedback" style="color:white">Feedback</a>
  </li>
    <ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="/adminsignup" style="color:white">Admin</a>
    </li>
    </ul>
</ul>
</nav>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chez Jerome</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- jQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- CSS Stylesheet -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato" rel="stylesheet">
	<link rel="icon" type="image/png" href="/assets/img/fav-square.png">
</head>
<body>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h2 class="text-center" style="padding: 20px;">Admin Login</h2>
		<form>
		  <div class="form-group">
		    <label for="email">Email address</label>
		    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
		    <p class="validate" id="email-validate" style="display:none;">Please enter your email.</p>
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <p class="validate" id="password-validate" style="display:none;">Please enter your password.</p>
		  </div>
		  <a href="/adminRoom" class="btn btn-default" >Login</a>
		</form>
		<br>
		<label>Need an account? </label>
		<a href="/mode"><button type="signup" class="btn btn-default">Signup</button></a>
	</div>
</div>
<div class="row" style="padding-bottom:20px;"></div>
</body>
</html>