<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
</style>
</head>
<body>

<h2 style="text-align:center">Welcome To Boomerang Hotel !!!</h2>
<p style="text-align:center">Stay Happy!Live With Pleasure!</p>


<div class="columns">
  <ul class="price">
    <li class="header">Family Room</li>
    <li class="grey">Rs.400</li>
    <li>Single Big Cot</li>
    <li>Free Wifi</li>
    <li>Ac</li>
    <li>Tv</li>
    <li class="grey"><a href="/bill2" class="button">Reserve</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Single Room</li>
    <li class="grey">Rs.200</li>
    <li>Single Cot</li>
    <li>Free Wifi</li>
    <li>Ac</li>
    <li>Tv</li>
    <li class="grey"><a href="/bill2" class="button">Reserve</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Multi Room</li>
    <li class="grey">Rs.500</li>
    <li>Two Cot</li>
    <li>Free wifi</li>
    <li>Ac</li>
    <li>Tv</li>
    <li class="grey"><a href="/bill2" class="button">Reserve</a></li>
  </ul>
</div>
    
<div class="columns">
  <ul class="price">
    <li class="header">Double Room</li>
    <li class="grey">Rs.400</li>
    <li>Four Cots/Hall</li>
    <li>Free wifi</li>
    <li>Ac</li>
    <li>Tv</li>
    <li class="grey"><a href="/bill2" class="button">Reserve</a></li>
  </ul>
</div>


</body>
</html>
