<centre><h3>Welcome to Boomerang Hotel!!!</h3></centre>

<ul class="nav justify-content-center" style="margin-left: 30%; margin-right: 30%; margin-top: 20px">
  <li class="nav-item">
    <a class="nav-link active" href="/home">Book Room</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/registration">Signup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/feedback">Feedback</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Profile</a>
  </li>
</ul>

<form action="/room-add" method="POST" autocomplete="off" name="room_num">
    <div class="form-group">
        <label>Customer Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" >
    </div>
    <div class="form-group">
        <label>Email</label>
        <input pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" type="email" class="form-control" name="email" placeholder="Email" >
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label>Mobile</label>
        <input type="text" pattern="[789][0-9]{9}" class="form-control" name="mobile" placeholder="Mobile" >
        </div>
        <div class="form-group col-md-6">
        <label>City</label>
        <select class="form-control" id="ControlSelect" name="city">
            <option>Coimbatore</option>
            <option>Chennai</option>
            <option>Banglore</option>
            <option>Theni</option>
        </select>
        </div>   
    </div>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- jQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- CSS Stylesheet -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato" rel="stylesheet">
	<link rel="icon" type="image/png" href="/assets/img/fav-square.png">
    {{#each rooms}}
    <label class="mr-sm-2" for="room"><h2>Booking Room Number #{{this.id}}</h2></label>
    <input type="hidden" name="room" value="{{this.id}}">
    {{/each}}
  <div class="form-group">
    <label class="mr-sm-2" for="firstname">Customer Details:</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="subj" name="fname" placeholder="Enter Details">
    <p class="validate" id="firstname-validate" style="display:none;"></p>
  </div>
  
  <div class="form-group">
    <label class="mr-sm-2" for="checkin">Check-in Date: </label>
    <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="checkin" name="checkin">
    <p class="validate" id="checkin-validate" style="display:none;">Please select the day you will check in.</p>
  </div>
  <div class="form-group">
    <label class="mr-sm-2" for="checkout">Check-out Date: </label>
    <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="checkout" name="checkout">
    <p class="validate" id="checkout-validate" style="display:none;">Please select the day you will check out.</p>
  </div>

    <div class="form-group">
        <label>Room Number</label>
        <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="roomnum" name="rn">
            <option>101</option>
            <option>102</option>
            <option>103</option>
            <option>104</option>
            <option>105</option>
            <option>201</option>
            <option>202</option>
            <option>203</option>
            <option>204</option>
            <option>205</option>
        </select>
            
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="ControlSelect">People</label>
        <select class="form-control" id="ControlSelect" name="people">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        </div>
        <div class="form-group col-md-6">
        <label for="ControlSelect">Kids</label>
        <select class="form-control" id="ControlSelect" name="kids">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        </div>   
    </div>
    <div class="form-group">
        <label for="ControlSelect">Room Type</label>
        <select class="form-control" id="ControlSelect" name="room_type">
            <option>Family Room</option>
            <option>Single Room</option>
            <option>Multi Room</option>
            <option>Double Room</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-info">
        
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
