<centre><h3>Welcome to Boomerang Hotel!!!</h3></centre>
<nav class="navbar navbar-dark bg-primary">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/home" style="color:white">Book Room</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/" style="color:white">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/registration" style="color:white">Signup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about" style="color:white">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/feedback" style="color:white">Feedback</a>
  </li>
</ul>
</nav>
<h2>Thank you for Booking a room</h2>
<p>We appreciate that you took the time to reserve a room.</p>
